.container{
    width: 100%;
    margin-top: 10px;
}

.base_text{
    font-size: 56px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background-image: linear-gradient( to right, #2006df,#0ad39e );
    -webkit-background-clip: text;
    color: transparent;

}

.form {
    width: 50%;
    margin: auto;
}

@media screen and (max-width: 992px) {
    .form {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .form {
        width: 80%;
    }
    
}

@media screen and (max-width: 576px) {
    .form {
        width: 95%;
    }
    
}