.container{
    width: 50%;
    margin: 0 auto;
    border: 1px solid rgb(80, 206, 18);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.exam {
    height: 50px;
    width: 100%;
    background-color: green;
    display: grid
    ;
    grid-template-columns: 1fr 1fr;
}

.actions i{
    font-size: 18px;
    color: white;
    cursor: pointer;
}
.actions i:hover{
    color: red;
    transition: 0.5s;
}

