.container{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    height: 200px;
    padding-left: 35%;
    padding-right: 35%;
    margin-top: 70px;
}

.container input{
    width: 100%;
}
.container button {
    width: 70px;
    height: 30px;
}

.login{
    border: none;
    outline: none;
    background-color: blue;
    color: white;
}
.register{
    border: none;
    outline: none;
    background-color: white;
    color: black;
    border : solid 1px black;
}