.footer {
    background-color: #363636;
    padding: 20px 0;
    border-top: 1px solid #e7e7e7;
    color: white;

  }
  
  .footer__section {
    margin-bottom: 20px;
  }
  
  .footer__section h5 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer__section p {
    font-size: 14px;
  }
  
  .footer__links {
    list-style: none;
    padding: 0;
  }
  
  .footer__links li {
    margin-bottom: 10px;
  }
  
  .footer__links a {
    color: #007bff;
    text-decoration: none;
  }
  
  .footer__links a:hover {
    text-decoration: underline;
  }
  
  .footer__copyright {
    font-size: 14px;
    color: #666;
    margin-top: 20px;
  }

  .footer__social {
    font-size: 40px;
  }
  .footer__social__icon{
    margin-right: 10px;
    color: #007bff;
    cursor: pointer;
}